.hub-page {
  background: var(--hubBackground);
  height: calc(100vh - 75px);
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.hub-container {
  height: 100%;
  width: 100%;
  max-width: 3000px;
  overflow-y: auto;
  padding: 0.25rem;

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 0.5rem,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 0.5rem,
    black calc(100% - 0.5rem),
    transparent 100%
  );
}

.side-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}
