.hub-page {
  background: var(--hubBackground);
  height: calc(100vh - 75px);
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.hub-container {
  height: 100%;
  width: 100%;
  max-width: 3000px;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 80px;

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 30px,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 30px,
    black calc(100% - 30px),
    transparent 100%
  );
}
